<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Artisans Home</title>
</head>
<body>
	<a href="/">Artisans<a>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/form">Contact</a></li>
		</ul>
	<p th:if="${error}" th:text="${error}">エラーメッセージ</p>
	<form action="/upload" method="post" enctype="multipart/form-data">
    アップロードするファイルを選択してください<br>
    <input type="file" name="file" accept="image/jpeg">
    <input type="submit">
    </form>
<p>
    <img src="/images/picture.jpg">
</p>
</body>
</html>