<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>ログインページ</title>
</head>
<body>
<form th:action="@{/login}" method="post">
    <div>
        ユーザ名<br>
        <input type="text" name="username" value="guest">
    </div>
    <div>
        パスワード<br>
        <input type="password" name="password" value="guest">
    </div>
    <div>
        <input type="submit" value="ログイン">
    </div>
</form>
<p th:if="${param.error}">ユーザ名もしくはパスワードが正しくありません。</p>
</body>
</html>